body {
	width: 90%;
	padding-left: 5%;
	padding-bottom: 5%;	
}


.title{
	display: inline-block;
}
.date {
	display: inline;
	padding-left: 2%;
	font-family: monospace;
}

.comments {
	padding-left: 3%;
}

.nav {
	display: inline-block;
	padding-right: 3%;
}

.input {
	width: 90%;
}

.user-info {
	float: left;
}
.user-address {
	margin-left: 30%;
	padding-top: 1.8%
}

.left {
	float:left;
	width:50%;
	padding-right: 5%;
}

.right {
	margin-left: 50%;
	padding-top: .5%; 
}